@model IEnumerable<Website1.Models.ListCategory>
@using Website1.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="~/assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/68b112eaae.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

    <style>
        .button-search {
            background: rgb(233, 179, 147);
            border-radius: 50%;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
    <div class="header">
        <div class="container">
            <div class="navbar">

                <div class="logo">
                    <a href="~/Home/Index"><img src="~/assets/images/logo.png" width="125px"></a>
                </div>
                @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
                {
                    <div class="search-box" style="margin: 0 60px" ;>
                        <div class="input-box">
                            <input type="text" name="TuKhoa" placeholder="search something....">
                        </div>
                        <div class="search-button">
                            <button class="button-search" type="submit" color="#000"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                }
                <nav>
                    <ul id="MenuItems">
                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/SanPham/DanhSachSanPham">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="~/User/Contact">Contact</a></li>
                        <li class="user-icon">
                            <a href="account.html"><img src="~/assets/images/user.png" width="25px" height="25px"></a>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                            <ul>
                                <li><a href="~/Home/Login">Đăng nhập</a></li>
                                <li><a href="~/Home/Register">Đăng ký</a></li>
                            </ul>
                        </li>

                    </ul>

                </nav>
                <div class="widget-header"

                        <div class="icon-area">
                            <a href="~/Cart/Index" class="widget-view">
                                <img src="~/assets/images/cart.png" width="30px" height="30px">
                            </a>
                            <span class="notify" id="CartCount">@Session["count"]</span>
                        </div>

                </div>
                <img src="~/assets/images/menu.png" class="menu-icon" onclick="menutoggle()">

            </div>

        </div>
    </div>
    <div id="form-login-container" class="js-login-form">
        <div class="login-form">
            <div class="form-container">
                <a href="#"><i class="fa fa-times form-close js-close"></i></a>
                <h2>Login</h2>
                <form id="LoginForm">
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <button type="submit" class="btn">Login</button>
                    <a href="">Forgot Password?</a>
                    <br>
                    <a href="register.html">Haven't have a account? Join us!</a>
                </form>
            </div>
        </div>
    </div>
    <div class="box categories">
        <h2>Categories <span></span></h2>
        <div class="box-content">
            <ul>
                @foreach (var item in Model)
                {
                    <li><a href="#">Model.Category</a></li>
                }

                @*<li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
                <li><a href="#">Category 4</a></li>
                <li><a href="#">Category 5</a></li>
                <li><a href="#">Category 6</a></li>
                <li><a href="#">Category 7</a></li>
                <li><a href="#">Category 8</a></li>
                <li><a href="#">Category 9</a></li>
                <li><a href="#">Category 10</a></li>
                <li><a href="#">Category 11</a></li>
                <li><a href="#">Category 12</a></li>
                <li class="last"><a href="#">Category 13</a></li>*@
            </ul>
        </div>
    </div>
    @RenderBody()


    <!---------- footer ------------>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our Apps</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="~/assets/images/play-store.png" alt="">
                        <img src="~/assets/images/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="~/assets/images/logo-white.png" alt="">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Easy Tutorials</p>
        </div>
    </div>

    <!------------ js for toggle menu -------------->

    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }

    </script>
    <script>
        $('.search-box .input-box input').focus(
            () => {
                $('.search-box .input-box').addClass('active')
            }
        );
        $('.search-box .input-box input').blur(
            () => {
                $('.search-box .input-box').removeClass('active');
            }
        )
    </script>
</body>
</html>